{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <div>
        <img src="{{ asset('build/images/TVvintage.png') }}" alt="TV Vintage with color stripes">
    </div>

<h1>Bienvenue !</h1>

{% endblock %}