{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<img src="{{ asset('build/images/TVvintage.png') }}" alt="TV Vintage with color stripes">
<h1>Bienvenue !</h1>

{% endblock %}